<div class="sticky-logo">
  <ion-buttons class="arrow-position">
    <ion-back-button class="arrow-back" defaultHref="/news" text=""></ion-back-button>
  </ion-buttons>
  <h1 class="title">Comentarios</h1>
</div>

<ion-content class="bg">

  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <img class="avatar-comment" src="assets/foto perfil copy.png">
      </ion-col>
      <ion-col>
        <p class="comment">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus asperiores provident
          debitis odit
          eligendi molestias cupiditate aut nobis a ab sit, optio temporibus sed, delectus, earum vitae nihil eos
          mollitia?</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid style="padding: 0; padding-left: 15px; margin-bottom: 20px;">
    <ion-row>
      <ion-col size="1" style="padding: 0;">
        <img class="icons" ion-button src="assets/view copy.png">
        <!-- <img class="icons" ion-button src="assets/view copy 3.png">  -->
        <!-- ICON  SE USARÁ CUANDO LA PERSONA PRESIONE EL BOTÓN, CAMBIARÁ DE COLOR -->
      </ion-col>
      <ion-col class="content-icon">
        22.4k
      </ion-col>
      <ion-col size="1" style="padding: 0;">
        <img class="icons" ion-button src="assets/view copy 2.png">
        <!-- <img class="icons" ion-button src="assets/view copy 4.png">  -->
        <!-- ICON  SE USARÁ CUANDO LA PERSONA PRESIONE EL BOTÓN, CAMBIARÁ DE COLOR -->
      </ion-col>
      <ion-col class="content-icon">
        22.4k
      </ion-col>
      <ion-col size="1" style="padding: 0;">
        <img class="icons" ion-button routerLink="/comment-section" src="assets/coment.png">
        <!-- <img class="icons" ion-button src="assets/coment copy.png">  -->
        <!-- ICON  SE USARÁ CUANDO LA PERSONA PRESIONE EL BOTÓN, CAMBIARÁ DE COLOR -->
      </ion-col>
      <ion-col class="content-icon">
        22.4k
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <img class="avatar-comment" src="assets/foto perfil.png">
      </ion-col>
      <ion-col>
        <p class="comment">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus asperiores provident
          debitis odit.</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <img class="avatar-comment" src="assets/foto perfil copy 2.png">
      </ion-col>
      <ion-col>
        <p class="comment">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus asperiores provident
          debitis odit
          eligendi molestias?</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <img class="avatar-comment" src="assets/foto perfil copy.png">
      </ion-col>
      <ion-col>
        <p class="comment">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus asperiores provident
          debitis odit</p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-card style="margin: 0; border-radius: 0; border-top: 1px solid grey;">
  <ion-textarea class="input" placeholder="Escribe un comentario..."></ion-textarea>
</ion-card>