<div class="sticky-logo">
  <ion-img src="assets/logo small.png" class="logo"></ion-img>
  <h1 class="news-title">NOTICIAS</h1>
</div>

<ion-content class="grey-bg">

  <ion-card class="wrapper">

    <!-- FIRST NEWS -->
    <ion-card ion-button routerLink="/info-news" class="picture-news">
      <h1 class="news">Bad Bunny y Residente llegan a la marcha</h1>
      <img class="image-new" src="assets/bbres.jpg">
    </ion-card>
    <ion-grid style="padding: 0; padding-left: 15px; margin-bottom: 20px;">
      <ion-row>
        <ion-col size="1" style="padding: 0;">
          <img class="icons" ion-button src="assets/view copy.png">
          <!-- <img class="icons" ion-button src="assets/view copy 3.png">  -->
          <!-- ICON  SE USARÁ CUANDO LA PERSONA PRESIONE EL BOTÓN, CAMBIARÁ DE COLOR -->
        </ion-col>
        <ion-col class="content-icon">
          22.4k
        </ion-col>
        <ion-col size="1" style="padding: 0;">
          <img class="icons" ion-button src="assets/view copy 2.png">
          <!-- <img class="icons" ion-button src="assets/view copy 4.png">  -->
          <!-- ICON  SE USARÁ CUANDO LA PERSONA PRESIONE EL BOTÓN, CAMBIARÁ DE COLOR -->
        </ion-col>
        <ion-col class="content-icon">
          22.4k
        </ion-col>
        <ion-col size="1" style="padding: 0;">
          <img class="icons" ion-button src="assets/coment.png">
          <!-- <img class="icons" ion-button src="assets/coment copy.png">  -->
          <!-- ICON  SE USARÁ CUANDO LA PERSONA PRESIONE EL BOTÓN, CAMBIARÁ DE COLOR -->
        </ion-col>
        <ion-col class="content-icon">
          22.4k
        </ion-col>
        <ion-col size="1" style="padding: 0;">
          <img class="icons" ion-button src="assets/respost.png">
          <!-- <img class="icons" ion-button src="assets/respost copy.png">  -->
          <!-- ICON  SE USARÁ CUANDO LA PERSONA PRESIONE EL BOTÓN, CAMBIARÁ DE COLOR -->
        </ion-col>
        <ion-col class="content-icon">
          22.4k
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- /FIRST NEWS -->

    <!-- SECOND NEWS -->
    <ion-card ion-button routerLink="/info-news" class="picture-news">
      <h1 class="news">Ricky Rosselló pa' fuera</h1>
      <img class="image-new" src="assets/rosello.jpg">
    </ion-card>

    <ion-grid style="padding: 0; padding-left: 15px; margin-bottom: 20px;">
      <ion-row>
        <ion-col size="1" style="padding: 0;">
          <img class="icons" ion-button src="assets/view copy.png">
          <!-- <img class="icons" ion-button src="assets/view copy 3.png">  -->
          <!-- ICON  SE USARÁ CUANDO LA PERSONA PRESIONE EL BOTÓN, CAMBIARÁ DE COLOR -->
        </ion-col>
        <ion-col class="content-icon">
          22.4k
        </ion-col>
        <ion-col size="1" style="padding: 0;">
          <img class="icons" ion-button src="assets/view copy 2.png">
          <!-- <img class="icons" ion-button src="assets/view copy 4.png">  -->
          <!-- ICON  SE USARÁ CUANDO LA PERSONA PRESIONE EL BOTÓN, CAMBIARÁ DE COLOR -->
        </ion-col>
        <ion-col class="content-icon">
          22.4k
        </ion-col>
        <ion-col size="1" style="padding: 0;">
          <img class="icons" ion-button src="assets/coment.png">
          <!-- <img class="icons" ion-button src="assets/coment copy.png">  -->
          <!-- ICON  SE USARÁ CUANDO LA PERSONA PRESIONE EL BOTÓN, CAMBIARÁ DE COLOR -->
        </ion-col>
        <ion-col class="content-icon">
          22.4k
        </ion-col>
        <ion-col size="1" style="padding: 0;">
          <img class="icons" ion-button src="assets/respost.png">
          <!-- <img class="icons" ion-button src="assets/respost copy.png">  -->
          <!-- ICON  SE USARÁ CUANDO LA PERSONA PRESIONE EL BOTÓN, CAMBIARÁ DE COLOR -->
        </ion-col>
        <ion-col class="content-icon">
          22.4k
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- /SECOND NEWS -->

    <!-- THIRD NEWS -->
    <ion-card ion-button routerLink="/info-news" class="picture-news">
      <h1 class="news">Puertorriqueños dicen presente</h1>
      <img class="image-new" src="assets/publico.jpg">
    </ion-card>
    <ion-grid style="padding: 0; padding-left: 15px; margin-bottom: 20px;">
      <ion-row>
        <ion-col size="1" style="padding: 0;">
          <img class="icons" ion-button src="assets/view copy.png">
          <!-- <img class="icons" ion-button src="assets/view copy 3.png">  -->
          <!-- ICON  SE USARÁ CUANDO LA PERSONA PRESIONE EL BOTÓN, CAMBIARÁ DE COLOR -->
        </ion-col>
        <ion-col class="content-icon">
          22.4k
        </ion-col>
        <ion-col size="1" style="padding: 0;">
          <img class="icons" ion-button src="assets/view copy 2.png">
          <!-- <img class="icons" ion-button src="assets/view copy 4.png">  -->
          <!-- ICON  SE USARÁ CUANDO LA PERSONA PRESIONE EL BOTÓN, CAMBIARÁ DE COLOR -->
        </ion-col>
        <ion-col class="content-icon">
          22.4k
        </ion-col>
        <ion-col size="1" style="padding: 0;">
          <img class="icons" ion-button src="assets/coment.png">
          <!-- <img class="icons" ion-button src="assets/coment copy.png">  -->
          <!-- ICON  SE USARÁ CUANDO LA PERSONA PRESIONE EL BOTÓN, CAMBIARÁ DE COLOR -->
        </ion-col>
        <ion-col class="content-icon">
          22.4k
        </ion-col>
        <ion-col size="1" style="padding: 0;">
          <img class="icons" ion-button src="assets/respost.png">
          <!-- <img class="icons" ion-button src="assets/respost copy.png">  -->
          <!-- ICON  SE USARÁ CUANDO LA PERSONA PRESIONE EL BOTÓN, CAMBIARÁ DE COLOR -->
        </ion-col>
        <ion-col class="content-icon">
          22.4k
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- /THIRD NEWS -->

  </ion-card>



</ion-content>

<ion-tab-bar slot="bottom"
  style="padding-top: 10px; padding-bottom: 20px; --background: #333333; border-top: 1px solid rgba(128, 128, 128, 0.452)">
  <ion-tab-button (click)="openPage()">
    <img src="assets/Noticias yellow.png" width="30px" height="30px">
    <ion-label style="color: #FFDF02; font-family: 'Poppins', sans-serif;">Noticias</ion-label>
  </ion-tab-button>

  <ion-tab-button (click)="openPage2()">
    <img src="assets/tuvoto.png" width="30px" height="30px">
    <ion-label style="color: white; font-family: 'Poppins', sans-serif;">Tu Voto</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="profile" (click)="openStatistics()">
    <img src="assets/Estadisticas.png" width="30px" height="30px">
    <ion-label style="color: white; font-family: 'Poppins', sans-serif;">Estadísticas</ion-label>
  </ion-tab-button>


  <ion-tab-button (click)="openOthers()">
    <img src="assets/perfil.png" width="30px" height="30px">
    <ion-label style="color: white; font-family: 'Poppins', sans-serif;">Perfil</ion-label>
  </ion-tab-button>



</ion-tab-bar>