<ion-content class="grey-bg">
  <ion-img src="assets/logo small.png" class="logo"></ion-img>



  <ion-card style="margin-top: 250px; padding: 15px;">

    <ion-grid>
      <ion-row>
        <ion-col class="yellow-bg" size="2">
          <ion-card style="margin: 0">
            <ion-img class="user-img" src="assets/correo electronico.png"></ion-img>
          </ion-card>
        </ion-col>
        <ion-col class="white-bg">
          <ion-input type="text" class="input" placeholder="Correo Electrónico"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col class="yellow-bg" size="2">
          <ion-card style="margin: 0">
            <ion-img class="user-img" src="assets/contraseña.png"></ion-img>
          </ion-card>
        </ion-col>
        <ion-col class="white-bg">
          <ion-input type="password" class="input" placeholder="Contraseña"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button class="log-btn" expand="block">INICIO</ion-button>
    <ion-button class="register-btn" (click)="closeModal()" expand="block">REGÍSTRATE</ion-button>

    <p ion-buttton class="forgot-btn">¿Olvidaste tu contraseña?</p>



  </ion-card>
</ion-content>