<ion-content class="grey-bg" no-bounce has-bouncing="false" forceOverscroll="false">

  <ion-slide class="full-slide">
    <ion-img src="assets/logo small.png" class="logo"></ion-img>
    <ion-slides pager="true">
      <ion-slide>
        <ion-card class="tutorial-first-card">
          <ion-img class="circle-img" src="/assets/registrate.png"></ion-img>
          <ion-card-content class="service-info">
            Regístrate.
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="tutorial-first-card">
          <ion-img class="circle-img" src="/assets/cel.png"></ion-img>
          <ion-card-content class="service-info">
            Observa y comenta las noticias.
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="tutorial-first-card">
          <ion-img class="circle-img" src="/assets/news.png"></ion-img>
          <ion-card-content class="service-info">
            Vota con conciencia.
          </ion-card-content>
          <!-- <ion-button (click)="openPage()" class="start-btn">COMENZAR</ion-button> -->
        </ion-card>
      </ion-slide>
      <ion-slide>

        <ion-card class="tutorial-first-card">
          <ion-img class="circle-img" src="/assets/vote.png"></ion-img>
          <ion-card-content class="service-info">
            Vota ahora.
          </ion-card-content>
          <ion-button expand="block" (click)="openWelcome()" class="start-btn">COMENZAR
          </ion-button>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-slide>
</ion-content>