<ion-content class="grey-bg" no-bounce has-bouncing="false" forceOverscroll="false">
  <ion-img src="assets/logo small.png" class="logo"></ion-img>



  <ion-card style="margin-top: 150px; padding: 15px;">

    <ion-grid>
      <ion-row>
        <ion-col class="yellow-bg" size="2">
          <ion-card style="margin: 0">
            <ion-img class="user-img" src="assets/correo electronico.png"></ion-img>
          </ion-card>
        </ion-col>
        <ion-col class="white-bg">
          <ion-input type="text" class="input" placeholder="Usuario"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col class="yellow-bg" size="2">
          <ion-card style="margin: 0">
            <ion-icon class="icon" ios="ios-mail" md="md-mail"></ion-icon>
          </ion-card>
        </ion-col>
        <ion-col class="white-bg">
          <ion-input type="text" class="input" placeholder="Correo Electrónico"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col class="yellow-bg" size="2">
          <ion-card style="margin: 0">
            <ion-img class="user-img" src="assets/contraseña.png"></ion-img>
          </ion-card>
        </ion-col>
        <ion-col class="white-bg">
          <ion-input type="password" class="input" placeholder="Contraseña"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-grid>
      <ion-row>
        <ion-col class="yellow-bg" size="2">
          <ion-card style="margin: 0">
            <ion-img class="user-img" src="assets/contraseña.png"></ion-img>
          </ion-card>
        </ion-col>
        <ion-col class="white-bg">
          <ion-input type="password" class="input" placeholder="Confirmar contraseña"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-grid>
      <ion-row>
        <ion-col class="yellow-bg" size="2">
          <ion-card style="margin: 0">
            <ion-icon class="icon" ios="ios-call" md="md-call"></ion-icon>
          </ion-card>
        </ion-col>
        <ion-col class="white-bg">
          <ion-input type="password" class="input" placeholder="Teléfono"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-grid>
      <ion-row>
        <ion-col class="yellow-bg" size="2">
          <ion-card style="margin: 0">
            <ion-icon class="icon" ios="ios-pin" md="md-pin"></ion-icon>
          </ion-card>
        </ion-col>
        <ion-col class="white-bg">
          <ion-input type="password" class="input" placeholder="Pueblo"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-grid>
      <ion-row>
        <ion-col class="yellow-bg" size="2">
          <ion-card style="margin: 0">
            <ion-icon ios="ios-people" md="md-people" class="icon"></ion-icon>
          </ion-card>
        </ion-col>
        <ion-col class="white-bg">
          <ion-input type="password" class="input" placeholder="Sexo"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-grid>
      <ion-row>
        <ion-col class="yellow-bg" size="2">
          <ion-card style="margin: 0">
            <ion-icon ios="ios-add" md="md-add" class="icon"></ion-icon>
          </ion-card>
        </ion-col>
        <ion-col class="white-bg">
          <ion-input type="password" class="input" placeholder="Edad"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button class="register-btn" (click)="presentPopover()" expand="block">CREAR CUENTA</ion-button>

  </ion-card>
</ion-content>